@{
    ViewBag.Title = "Pomoc";
}


<div class="panel-heading datatable-heading">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Pytanie / Odpowiedź
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="timeline">

                <li>
                    <div class="timeline-badge info">
                        <i class="fa fa-save"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Pytanie</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Jak zatwierdzić zamówienie?</p>

                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Odpowiedź</h4>
                        </div>
                        <div class="timeline-body">
                            <p>W zakładce stany należy kliknąć na zamawiany produkt, a następnie wybrać jego ilość.
                             Po naciśnięciu przycisku Dodaj do koszyka produkt zostanie w nim zapisany.
                            W celu przesłania zamówienia do realizacji należy przejść do zakładki koszyk.
                            Można w niej przeprowadzić edycję zamawianych pozycji.
                            W zakładce koszyk należy wybrać z listy adres dostawy oraz datę jej realizacji.
                            Po ustawieniu wszystkich pól należy najpierw zapisać koszyk, a następnie użyć przycisku prześlij do realizacji.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.panel-body -->
    </div>
</div>
